<span class="navbar-text">
    {% if user.is_authenticated %}
    <span class="bg-darkGray">Welcome, </span>
    <img
        src="{{ info.avatar.url }}"
        alt="Avatar"
        class="rounded-circle"
        style="width: 1.8rem; height: 1.8rem"
    />
    <a href="/profile" class="me-3 bg-darkGray">{{ info.nickname }}</a>
    <a href="/cart" class="text-decoration-none">
        <button type="button" class="btn btn-secondary ms-2 bg-lightBlue bg-darkGray">Shopping Cart</button>
    </a>
    <a href="/admin/app/product/add/" class="text-decoration-none">
        <button type="button" class="btn btn-secondary ms-2 bg-darkGray bg-lightBlue">
            Add Product
        </button>
    </a>
    <a href="/logout/?next=/">
    <button type="button" class="btn btn-secondary ms-2 bg-lightBlue bg-darkGray">
        Logout
    </button></a>
    {% else %}
    <a href="/login/?next=/">
    <button type="button" class="btn btn-secondary bg-lightBlue bg-darkGray">
        Login
    </button>
    </a>
    {% endif %}
</span>
