<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="categoriesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Categories
    </button>
    <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
        {% for category in categories %}
        <li>
            <a class="dropdown-item" href="/category/{{ category.slug }}">{{ category.name }}</a>
            <hr class="dropdown-divider" />
        </li>
        {% endfor %}
    </ul>
</div>