<nav class="navbar navbar-expand-lg navbar-dark bg-peach">
    <div class="container">
        <a href="/" class="text-decoration-none">
            <span class="navbar-brand fw-bold fs-2 text-center" style="border: 2px solid #2E3033; padding: 5px; border-radius: 10px; background-color: #FFDAB9; color: #2E3033;">
                <b>DeviceFit</b>
                <img
                class="img-fluid rounded shadow-lg thumbnail"
        src="/media/logo/deviceFit logo.png"
        alt="logo"
        style="height: 45px; width: 55px; margin-top: -6px; margin-right: -5px;"
    />
            </span>
        </a>
        <div class="d-flex align-items-center gap-3" style="margin-left: -230px">
            <a href="/products" class="bg-darkGray">
                <b>Products</b>
            </a>
            {% include 'categories.html' %}
        </div>
        <div class="d-flex align-items-center gap-3">
            {% include 'account.html' %}
        </div>
    </div>
</nav>
