<div class="card">
    <img
        class="img-fluid img-thumbnail rounded-bottom-0 bg-pe thumbnail"
        style="height: 205px;"
        src="{{ product.image.url }}"
        alt="{{ product.name }}"
    />
    <div class="card-body d-flex flex-column bg-peach">
        <div class="d-flex flex-column justify-content-begin h-75">
            <h5 class="card-title">
                <a href="/product/{{ product.slug }}">{{ product.name }}</a>
            </h5>
            <p class="card-subtitle text-body-secondary mb-2 bg">
                {{ product.category }}
            </p>
            <p class="card-text" id="desc-{{ product.name }}">
                {{ product.description|truncatewords:28 }}
            </p>
            <a href="/product/{{ product.slug }}" class="read-more" data-product-name="{{ product.name }}">Read more...</a>
            <div id="full-desc-{{ product.name }}" style="display:none;">{{ product.description}}</div>
        </div>
        <div class="mt-auto">
            <div class="alert alert-danger error" role="alert" style="display: none"></div>
            <div class="alert alert-success success" role="alert" style="display: none"></div>
            <p class="card-text bg-primary rounded-pill w-50 mx-auto text-white">
                Price: ${{ product.price }}
            </p>
            <button
                id="{{ product.slug }}"
                class="btn btn-secondary rounded add-to-cart"
                data-bs-toggle="tooltip"
                data-bs-trigger="manual"
                data-bs-placement="top"
                data-bs-title="Added to cart!"
                data-bs-target="#added-to-cart"
                type="button"
                {% if not user.is_authenticated %} disabled {% endif %}
            >
                {% if not user.is_authenticated %} Login to Add to Cart {% else %}
                Add to Cart
                {% endif %}
            </button>
        </div>
    </div>
</div>